<!DOCTYPE html>
<html>

<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        body {
            align-items: center;
            text-align: center;
        }
        p {
            border: 2px solid #0073ff;
        }
        p:focus{
            color: blue;
            border: green;
        }
    </style>
    <script>
        console.warn("PLEASE")
    </script>
</head>

<body class="border-box">
    <h1>Register</h1>
    <HR>
    <form action="/register" method="POST" class="form-login">
        <div>
            <br>
            <label for="name" class="form-label">Name</label><br>
            <input type="text" id="name" name="name" required>
        </div>
        <br>
        <div>
            <label for="email" class="form-label">Email</label><br>
            <input type="email" id="email" class="form-email" name="email" required>
        </div>
        <div>
            <br>
            <label for="password" class="form-label">Password</label><br>
            <input type="password" class="form-password" id="password" name="password" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <br>
    <p class="text-lg-center"> Already have <a class="text-link" href="/login">account</a>?</p>
</body>

</html>